.TableContainer {
    margin-left: 1%;
    margin-right: 1%;
}

.SearchItemContainer {
    position: relative;
    transition: 0.3s ease;
}

#SearchBar.Expanded {
    opacity: 1;
    transform: translateY();
}

#SearchBar.Collapsed {
    opacity: 0.5;
    transform: translateY(-200px);
    cursor: pointer;
}

#SearchTable.Expanded {
    transform: translateY(-200px);
}

#SearchTable.Expanded ::deep .mud-table-container {
    max-height: calc(100vh - 400px) !important;
}

#SearchTable.Collapsed {
    transform: translateY(0); 
}

#SearchTable.Collapsed ::deep .mud-table-container {
    max-height: calc(100vh - 600px) !important;
}